# Clerk - Get from https://dashboard.clerk.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3VidGxlLXB1bWEtODAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_o5GnyRwIfMYUTM4FdeFLAWX0dznwQEJXK8b4dmrYq3
# Clerk redirect URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Convex - Get from https://dashboard.convex.dev
NEXT_PUBLIC_CONVEX_URL=https://kindhearted-boar-596.eu-west-1.convex.cloud/
